* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

header {
  padding: 2rem;
  background-color: #007398;
  color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text-container {
  margin: 1rem;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

header p {
  font-size: 1.5rem;
}

/* Style main content */
main {
  padding: 5rem 10rem;
  background-color: #e5e5e5;
  display: flex;
}

.whitepaper {
  margin-bottom: 4rem;
}

.whitepaper h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.whitepaper p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.whitepaper ul {
  margin-bottom: 2rem;
}

.whitepaper li {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.image-container {
  width: 100%;
  height: 100%;
  padding-left: 8rem;
}

#man-image-flip {
  transform: scaleX(-1);
}

.man-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}


footer {
  text-align: center;
  padding: 2rem;
  background-color: #007398;
  color: #e5e5e5;
}

.footer-container {
  margin: 3rem 0 5rem 0;
}

.footer-container ul {
  list-style-type: none;
}
